.row {
    margin-bottom: 0px !important;
}
.inline li{
display: inline !important;
list-style-type: none !important;
list-style-position:inside;
padding-bottom:2px;
padding-left:2px;
padding-right:2px;
padding-top:2px;	
}
